* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', Verdana, sans-serif;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1020px;
  padding-left: 40px;
  padding-right: 40px;
}

header .wrapper {
  height: 95px;
  background-color: #2d303a;
  border-bottom: 6px #323746 solid;
}

main .wrapper {
  height: 600px;
  background-color: #f06c64;
  border-bottom: 6px #ea676b solid;
}

section .wrapper {
  height: 500px;
  background-color: #f2f2f2;
  border-bottom: 6px #ffffff solid;
}

.layout_3_columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 21px;
  grid-row-gap: 33px;
  margin-top: 47px;
}

.service {
  display: grid;
  grid-template-columns: 25fr 75fr;
}

h1 {
  font-size: 25px;
  font-weight: 500;
}

h2 {
  padding-top: 68px;
  font-size: 30px;
  font-weight: 900;
  line-height: 18px;
  color: #666d89;
}

h3 {
  margin-top: -11px;
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 15px;
  font-weight: 900;
  letter-spacing: -0.003rem;
  color: #666d89;
}

.service_description {
  padding-top: 11px;
  padding-left: 4px;
}

.service_description p {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-align: justify;
  color: #767e9e;
}

.services_paragraph {
  padding-top: 27px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  text-align: justify;
  letter-spacing: -0.013rem;
  color: #767e9e;
}

.layout_2_col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  justify-items: end;
  height: 100%;
  align-items: center;;
}

.header__logo {
  justify-self: left;
}

.navigation__menu {
  display: flex;
  justify-items: right;
  padding-top: 2px;
  margin-top: 6px;
}

.navigation__menu li {
  list-style-type: none;
}

.navigation__menu li:before {
  display: inline-block;
  padding: 0 10px;
  content: '\2022';
  transform: scale(0.1);
  vertical-align: middle;
  color: #7e829e;
}

.navigation__menu li:first-child:before {
  content: none;
}

.navigation__menu li a {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.logo {
  color: white;
}

.logo-tail {
  color: #f06c64;
}

main .wrapper {
  position: relative;
}

.horizontal_iphone {
  position: absolute;
  top: 174px;
  left: 425px;
}

.vertical_iphone {
  position: absolute;
  top: 53px;
  left: 112px;
}

.slider__chevs {
  position: relative;
  top: 281px;
}

.chev {
  display: inline-block;
  width: 16px;
  height: 27px;
}

.left_chev {
  position: absolute;
  left: 2px;
  transform: rotate(180deg);
}

.right_chev {
  position: absolute;
  right: 0;
}

.link-colored {
  color: white;
}

a:hover {
  color: #f06c64;
}

.chev:hover {
  opacity: 70%;
}
