* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', Verdana, sans-serif;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

header .wrapper {
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px #323746 solid;
}

main .wrapper .slider {
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px #ea676b solid;
}

main .wrapper .services {
    height: 494px;
    background-color: #f2f2f2;
    border-bottom: 6px #ffffff solid;
}

.text_colored {
    color: #f06c64;
}

h1,
h1 .text_colored {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0;
}

p,
.services h2,
.services h3 {
    color: #666d89;
}

ul {
  position: relative;
  top: 10px;
  left: 597px;
}

li {
  margin: 15px;
}

li a {
    font-size: 11px;
    font-weight: 700;
}

.header__logo {
    position: relative;
    left: 40px;
    top: 30px;
}

.navigation__menu li {
    display: inline;
}

.slider {
    position: relative;
}

.services {
    padding-top: 60px;
}

.services_paragraph {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
}

.vertical_iphone {
    position: absolute;
    left: 112px;
    top: 53px;
}

.horizontal_iphone {
    position: absolute;
    left: 425px;
    top: 174px;
}

.left_chev {
    position: absolute;
    top: 281px;
    right: 40px;

}

.right_chev {
    position: absolute;
    left: 42px;
    top: 281px;
    transform: rotate(180deg);
}

.service_description h3 {
    font-size: 18px;
}

.service_description p {
    font-size: 12px;
}

.service_logo  {
    font-size: 18px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

.container {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.service {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.service_description {
    margin-left: 25px;
}

.service_description p {
    font-weight: 700;
    line-height: 22px;
    margin-top: 8px;
    text-align: justify;
    letter-spacing: 0;
}

.services_paragraph {
    text-align: justify;
}

.service_description h3 {
    font-weight: 900;
    line-height: 1;
}

.services {
    padding-left: 40px;
    padding-right: 40px;
}