* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1020px;
  padding-left: 40px;
  padding-right: 40px;
}

header .wrapper {
  position:fixed;
  top: 0;
  left:0;
  right:0;
  z-index: 1;
  margin-left:auto;
  margin-right:auto;
  padding-top: 30px;
  padding-bottom: 29px;
  max-width: 1020px;
  background-color: #2d303a;
  border-bottom: 6px #323746 solid;
}

#slider .wrapper {
  margin-top: 95px;
}

main .wrapper {
  position: relative;
  padding-bottom: 594px;
  background-color: #f06c64;
  border-bottom: 6px #ea676b solid;
}

.services .wrapper {
  padding-bottom: 62px;
  background-color: #f2f2f2;
  border-bottom: 6px #ffffff solid;
}

.our-services__layout_3_columns {
  margin-top: 47px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 21px;
  grid-row-gap: 33px;
}

.our-services__service {
  display: grid;
  grid-template-columns: 25fr 75fr;
}

.logo {
  font-family: 'Lato Regular', Verdana, sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.portfolio__title {
  font-size: 25px;
  font-weight: 500;
}

.our-services__title,
.about-us__title,
.quote__title {
  padding-top: 69px;
  font-family: 'Lato Black', Verdana, sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 18px;
  color: #666d89;
}

.our-services__description h3,
.person__name {
  margin-top: -11px;
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 15px;
  font-weight: 900;
  letter-spacing: -0.003rem;
  color: #666d89;
}

.our-services__description {
  font-family: 'Lato', Verdana, sans-serif;
  padding-top: 11px;
  padding-left: 4px;
}

.our-services__description p {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-align: justify;
  color: #767e9e;
}

.our-services__paragraph {
  font-family: 'Lato Light', Verdana, sans-serif;
  padding-top: 27px;
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
  letter-spacing: -0.013rem;
  color: #767e9e;
}

.header-layout-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  justify-items: end;
  height: 100%;
  align-items: center;;
}

.logo-wrapper {
  justify-self: left;
}

.navigation__menu {
  display: flex;
  justify-items: right;
  padding-top: 2px;
  margin-top: 6px;
  font-family: 'Lato Bold', Verdana, sans-serif;
  font-size: 12px;
  line-height: 6.32px;
  letter-spacing: -0.005rem;
}

.navigation__menu li {
  list-style-type: none;
}

.navigation__menu li:before {
  display: inline-block;
  padding: 0 10px;
  content: '\2022';
  transform: scale(0.5);
  vertical-align: middle;
  color: #7e829e;
}

.navigation__menu li:first-child:before {
  content: none;
}

.navigation__menu li a {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.logo {
  color: white;
}

.logo-tail {
  color: #f06c64;
}

.horizontal_iphone {
  position: absolute;
  top: 174px;
  left: 425px;
}

.vertical_iphone {
  position: absolute;
  top: 53px;
  left: 112px;
}

.slider__chevs {
  position: relative;
  top: 281px;
}

.slider__chevs img {
  display: inline-block;
  width: 16px;
  height: 27px;
}

.slider__left-chev {
  position: absolute;
  left: 2px;
  transform: rotate(180deg);
}

.slider__right-chev {
  position: absolute;
  right: 0;
}

.link-colored {
  color: white;
}

.chev:hover {
  opacity: 70%;
}

.portfolio-section .wrapper {
  padding-bottom: 47px;
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
}

.about-us-section .wrapper {
  padding-bottom: 62px;
  border-bottom: 6px solid #ffffff;
  background-color: #f2f2f2;
}

.portfolio__title {
  margin-top: 70px;
  display: inline-block;
  font-family: "Lato Black", Verdana, sans-serif;
  font-size: 30px;
  line-height: 17.86px;
  color: #666d89;
}

.portfolio__description {
  margin-top: 20px;
  font-family: "Lato Light", Verdana, sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.013rem;
  color: #666d89;
}

.filter {
  margin-top: 11px;
}

.filter__item {
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 6px;
  display: inline-block;
  font-family: "Lato Regular", Verdana, sans-serif;
  font-size: 12px;
  line-height: 1.7;
  color: #666d89;
  border: 1px solid #666d89;
  border-radius: 5px;
}

.pictures {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pictures__item {
  margin-bottom: 16px;
}

.about-us__details {
  padding-top: 27px;
  font-family: "Lato Light", Verdana, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: -0.013rem;
  color: #767e9e;
}

.person__name {
  padding-top: 11px;
  padding-bottom: 0;
  font-family: "Lato Black", Verdana, sans-serif;
  font-size: 18px;
  line-height: 17.86px;
}

.person__description {
  font-family: "Lato Regular", Verdana, sans-serif;
  font-size: 12px;
  line-height: 21.56px;
}

.socials__item {
  display: inline-block;
  margin-right: 8px;
}

.persons {
  padding-top: 44px;
  display: flex;
  justify-content: space-between;
}

.person__socials {
  padding-top: 25px;
}

.person {
  width: 300px;
}

.person__info {
  padding-top: 14px;
  color: #666d89;
}

.person__description {
  margin-top: 2px;
  padding-top: 8px;
  text-align: justify;
  letter-spacing: -0.004rem;
}

.filter__item a {
  color: #666d89;
  text-decoration: none;
}

.filter__item:hover,
.filter__item a:hover {
  color: white;
  border-color: white;
}

.pictures__item:nth-child(n+13) {
  display: none;
}

.wrapper-quote {
  padding-bottom: 42px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.wrapper-footer {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #2d303a;
}

.input {
  background-color: #d6564f;
}

.quote__title {
  padding-top: 69px;
  font-family: "Lato Black", Verdana, sans-serif;
  font-size: 30px;
  line-height: 17.86px;
  color: #f0d8d9;
}

.quote__description {
  padding-top: 27px;
  font-family: "Lato Light", Verdana, sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.014rem;
  text-align: justify;
  color: #f0d8d9;
}

.quote__form {
  float: left;
  padding-top: 44px;
}

.quote__input {
  display: block;
  width: 619px;
  height: 38px;
  margin-bottom: 16px;
}

.quote__area {
  display: block;
  width: 619px;
  height: 195px;
}

.quote__area,
.quote__input {
  border: 0;
  border-radius: 5px;
  background-color: #d6564f;
}

.contact-information {
  padding-top: 44px;
  margin-left: 20px;
  width: 300px;
  float: left;
}

.wrapper-quote {
  overflow: hidden;
}

.contact-information__title {
  font-family: "Lato Black", Verdana, sans-serif;
  font-size: 18px;
  line-height: 17.86px;
  color: #f0d8d9;
}

.contact-information__description {
  padding-top: 10px;
  font-family: "Lato Regular", Verdana, sans-serif;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.002rem;
  text-align: justify;
  color: #f0d8d9;
}

.contact-information__contacts {
  padding-top: 20px;
  font-family: "Lato Regular", Verdana, sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  list-style: none;
}

.contact-information__contacts span {
  padding-left: 9px;
}

.contact-information img {
  padding-top: 2px;
}

.contact-information__contacts a:link {
  color: #f0d8d9;
  text-decoration: none;
}

.contact-information__location img {
  padding-left: 4px;
}

.contact-information__location span {
  padding-left: 11px;
}

.contact-information__phone img {
  padding-left: 2px;
}

.quote__input,
.quote__area {
  font-family: "Lato Regular", Verdana, sans-serif;
  font-size: 12px;
  line-height: 21.56px;
}

.quote__area {
  padding-top: 8px;
}

.socials {
  display: flex;
}

.quote__submit {
  padding-top: 5px;
}

.copyright {
  padding-left: 1px;
  padding-top: 30px;
  font-family: "Lato Regular", Verdana, sans-serif;
  font-size: 12px;
  letter-spacing: -0.008rem;
  color: #666d89;
}

.socials-footer {
  padding-top: 22px;
}

.socials-footer .socials__item {
  margin-right: 0;
  margin-left: 8px;
}

::placeholder {
  padding-left: 14px;
  line-height: 2;
  color: #f48c8f;
}

.copy-colored:hover {
  color: cornflowerblue;
}
